.root {
    -fx-background-color: #737d85;
}

.window {
    -fx-background-color: #737d85;
}

.progress-indicator {
    -fx-progress-color: #fffcff;
}

.menu-bar {
    -fx-background-color: #394046;
    -fx-text-fill: #fffcff;
}


.menu-bar .menu-item {
    -fx-background-color: #49535b;
}

.menu .arrow {
    -fx-background-color: #ffffff;
}

.menu .label{
    -fx-text-fill: #fffcff;
}

.context-menu {
    -fx-background-color: #49535b;
    -fx-text-fill: #ffffff;
}

.context-menu .label{
    -fx-text-fill: #ffffff;
}

.separator{
    -fx-background-color: #49535b;
}

.menu-bar .menu-item:hover {
    -fx-background-color: #0096c9;
}

.default-text {
    -fx-font-weight: bold;
    -fx-text-fill: #f5f5f5;
}

.default-text .label {
    -fx-font-size: 22;
}

.main-text {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
}

.check-menu-item
{
    -fx-mark-color: #ffffff ;
}



