.root {
    -fx-background-color: #737d85;
}

.window {
    -fx-background-color: #737d85;
}

.progress-indicator {
    -fx-progress-color: #fffcff;
}

.menu-bar {
    -fx-background-color: #394046;
    -fx-text-fill: #fffcff;
}

.menu-bar .menu-item {
    -fx-background-color: #49535b;
}

.menu .label{
    -fx-text-fill: #fffcff;
}

.context-menu {
    -fx-background-color: #49535b;
}

.default-text {
    -fx-font-weight: bold;
    -fx-text-fill: #f5f5f5;
}

.default-text .label {
    -fx-font-size: 22;
}

.main-text {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
}

.check-menu-item:default
{
    -fx-focused-mark-color: blue ;
}

.check-menu-item:focused
{
    -fx-focused-mark-color: blue ;
}



